{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class='error'>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="theme_bootstrap_3_horizontal_layout form-horizontal">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <h1>{{name}}</h1>
    <div class="form-group ">
        <input type="text" class="form-control" placeholder="Username " id="UserName" name="_username" value="{{ last_username }}" required="required">
        <i class="fa fa-user"></i>
    </div>
    <div class="form-group log-status">
        <input type="password" class="form-control" placeholder="Password" id="Passwod" name="_password" required="required">
        <i class="fa fa-lock"></i>
    </div>
    <div class="form-group log-status">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>
    <span class="alert">Invalid Credentials</span>
    <a class="link" href="{{ path('fos_user_resetting_request') }}">Lost your password?</a>
    <button type="submit" class="log-btn" id="_submit" name="_submit">Log in</button>

</form>
