<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>Login {{ name }}</title>
        <link rel="icon" href="{{ asset('bundles/cms2base/img/favicon.ico') }}">
        <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
        <link rel="stylesheet" href="{{ asset('bundles/cms2base/css/login.css') }}">
    </head>

    <body>
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <div class="login-form">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </body>
</html>
